.App {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
}

.background-quarter {
  position: absolute;
  top: 0;
  left: 0;
}

.background-behind {
  z-index: 1; /* Behind everything */
}

.background-on-top {
  z-index: 2; /* On top but beneath the content */
}

.app-content {
  position: relative; /* Ensure z-index works correctly */
  z-index: 3; /* On top of background-on-top */
}