.App {
  max-width: 1440px;
  margin: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  z-index: -1; /* Set a lower z-index to place it behind other containers */
  background-color: #f5f7ff; /* Set your desired background color */
  /* Add any other styles you want for the background container */
}