.App {
  height: 100vh;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-quarter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32%;
}

.background-behind {
  z-index: 1; /* Behind everything */
}

.background-on-top {
  z-index: 2; /* On top but beneath the content */
}

.app-content {
  position: relative; /* Ensure z-index works correctly */
  z-index: 3; /* On top of background-on-top */
  padding: 20px;
}